<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page d'accueil</title>
    <link rel="shortcut icon" href="public/imgs/lg.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/public/animate.css">
    <link rel="stylesheet" href="/public/bootstrap.min.css">
    <link rel="stylesheet" href="/public/style.min.css">
</head>

<body>
    <div class="container-fluid ">
        <div class="row no-margin w-100 bklmj" style="justify-content: center;">
            <div class="col-lg-4 col-md-4 log-det">
                <div class="row">
                    <img src="/static1/images/ensajlogo.png" style="height: 50%;width: 45%">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 log-det">
                <br>
                <div class="card bg-dark border-light">
                    <div class="card-body" style="color: #FFF; text-align: center;">
                        <br>
                        <h2 class="w-100">Page d'accueil</h2>
                        <p>Bienvenue sur ENSAJServices!<br></p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-margin w-100 bklmj">
            <br>
            <br>
        </div>
        <div class="row no-margin w-100 bklmj" style="justify-content: center;">
            <div class="text-box-cont">
                <div class="col box-de">
                    <a href="/create">
                        <button type="button" class="btne btn-outline-light">Espace Etudiant</button>
                    </a>
                    <a href="/signinprof">
                        <button type="button" class="btne btn-outline-light">Espace des Enseignants</button>
                    </a>
                    <a href="/signinadmin">
                        <button type="button" class="btne btn-outline-light">Espace des Admins</button>
                    </a>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="row no-margin w-100 bklmj">
            <br>
        </div>
        <footer class="footer" style="color: #FFF; font-size: 20px;"> <img src="static1/images/ensajlogo.png" alt=""
                style="width:10%;height:10%;"> © 2023 ENSAJ
        </footer>
    </div>


    <script src="/static1/js/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static1/js/bootstrap.bundle.min.js"></script>
    <script src="/static1/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="/static1/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static1/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/static1/js/custom.js"></script>
    <%- include ('footer') -%>