<%- include ('header') -%>


    <div class="container-fluid ">

        <div class="no-pdding login-box">
            <div class="row no-margin w-100 bklmj">
                <div class="col-lg-6 col-md-6 log-det">
                    <div class="row">
                        <img src="/static1/images/ensajlogo.png" style="height: 40%;width: 35%">
                    </div>
                    <div class="row no-margin past">
                        <% if (existingEmail) { %>
                            <smal style="color: rgb(35, 139, 224);"> email existe déjà veuillez vous connecter</small>
                                <% } else { %>
                                    <% } %>
                    </div>


                    <div class="text-box-cont">
                        <form action="/index" method="post">
                            <% if (!existe) { %>
                                <small style="color: red;">Email invalide</small>
                                <div class="input-group mb-3">

                                    <input type="text" class="form-control" placeholder="email" aria-label="Username"
                                        aria-describedby="basic-addon1" name="email" value="<%= email %>" required>
                                </div>
                                <small style="color: red;">Mot de passe invalide</small>
                                <div class="input-group mb-3">

                                    <input type="password" class="form-control" placeholder="Password"
                                        aria-label="Username" aria-describedby="basic-addon1" name="password"
                                        value="<%= pwd %>" required>
                                </div>
                                <% } else {%>

                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="email"
                                            aria-label="Username" aria-describedby="basic-addon1" name="email" required>
                                    </div>
                                    <div class="input-group mb-3">

                                        <input type="password" class="form-control" placeholder="Password"
                                            aria-label="Username" aria-describedby="basic-addon1" name="password"
                                            required>
                                    </div>

                                    <% } %>

                                        <div class="row no-margin">
                                            <p class="forget-p">Mot de passe oublié ?</p>
                                        </div>
                                        <div class="right-bkij mb-3">
                                            <button class="btn btn-success btn-round">S'identifier</button>
                                        </div>
                                        <div class="mb-3">
                                            <a href="./accueil">Page d'accueil</a>
                                        </div>
                        </form>

                        <div class="row linkoi">
                            <div class="col-sm-5">
                                <p>ou bien avec</p>
                            </div>
                            <div class="col-sm-7">
                                <ul>
                                    <li><i class="fab fa-facebook-f "></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="col-lg-6 col-md-6 box-de">
                    <div class="ditk-inf">
                        <h2 class="w-100">Espace Etudiant</h2>
                        <p>Créez simplement votre compte <br>en cliquant sur le bouton d'inscription</p>
                        <a href="/signup">
                            <button type="button" class="btn btn-outline-light">S'inscrire</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('footer') -%>