</body>
<script src="/static1/js/jquery-3.2.1.min.js"></script>
<script src="/static1/js/popper.min.js"></script>
<script src="/static1/js/bootstrap.min.js"></script>
<script src="/static1/js/script.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</html>